
body{
    color: white;
    font-family: Abril;
}


header{
    padding: 40px;
    background-color:#D2B48C;
    
}
h1{
    color:white;
    font-size: 60px;
    font-family: Abril Fatface;
    text-align: center;
}
.container {
    position: relative;
    width: 1200px;
    height: 800px;
    margin: auto;
    
  }

.main-img {
width: 100%;
height: 100%;
object-fit: cover; /* Maintain aspect ratio while covering the container */
opacity: .5;
}

.cigar-box {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1; /* Place the overlay image above the background image */
}

#button{
    position: absolute;
    top: 72%;
    left: 46%;
    width: 100px;
    background-color:#DAA520;
    padding: 10px;
    z-index: 1;
    font-size: 20px;
    border-radius: 12px;
}

.button:hover{
    background: azure;
}


.logo {
    height: 100px;
    width: 100px;

}

footer{
    background-color: #006400;
    padding: 50px;
    text-align: center;
}


#localStorageContent {
    position: absolute;
    top: 85%;
    left: 20%;
    text-align: center;
    color: black;
}
/*Page*/

section{
    width: 700px;
}


form{
    color: black;
}

p {
    color: black;
}

#returnCigar {
    color: black;
}