body{
    color: white;
}

header{
    padding: 50px;
    background-color: black;
    
}
h1{
    color:white;
    font-size: 25px;
}
div{
    width:960px;
    margin: auto;
}


img{
    width: 100%;
    opacity: 0.5;
}

footer{
    background-color: black;
    padding: 50px;
}

ul{
	width: 500px
}

li{
	list-style: none;
	margin: 10px;
	display: inline-block;
	border: black 2px solid;
}

span{
	margin: 25px;
}
.delete-button{
	background-color: red;
}