body{
    color: white;
}

header{
    padding: 50px;
    background-color: black;
    
}
h1{
    color:white;
    font-size: 25px;
}
div{
    width:960px;
    margin: auto;
}


img{
    width: 100%;
}

footer{
    background-color: black;
    padding: 50px;
}